<!DOCTYPE html>
<html>
  <head>
    <title>Historia Interactiva</title>
  </head>
  <body>
    <h1>Bienvenido a Historia Interactiva</h1>
    <a href="/periodos">Ver Períodos Históricos</a>
  </body>
</html>




    
  

