<!DOCTYPE html>
<html>
  <head>
    <title>Historia Interactiva</title>
  </head>
  <body>
    <h1>Bienvenido a Historia Interactiva</h1>
    <a href="/periodos">Ver Per칤odos Hist칩ricos</a>
  </body>
</html>

<!-- 游릴 Bot칩n de logout -->
<form action="/usuarios/logout" method="GET" style="display: inline;">
  <button type="submit">游뛁 Cerrar sesi칩n</button>
</form>





    
  

