<!-- 游릴 P치gina de inicio p칰blica -->
<h1>Bienvenido a Historia Interactiva</h1>

<p>Explor치 los per칤odos hist칩ricos una vez que inicies sesi칩n.</p>

<a href="/usuarios/registro">
  <button>游닇 Registrarse</button>
</a>

<a href="/usuarios/login">
  <button>游댏 Iniciar sesi칩n</button>
</a>
