<!DOCTYPE html>
<html>
  <head>
    <title><%= nombrePeriodo %> | Historia Interactiva</title>
  </head>
  <body>
    <h1>Período histórico: <%= nombrePeriodo %></h1>
    <p>Aquí podrías mostrar información sobre el período <strong><%= nombrePeriodo %></strong>.</p>
    <p><%= descripcion %></p>


    <a href="/">Volver al inicio</a>
  </body>
</html>
